@import "./src/assets/sass/canya-time-tracker";

.global-time {
  > nav {
    @include make-container;
    padding-top: get-spacer(2);
    padding-bottom: get-spacer(2);
  }

  .counter, .actions {
    @include flex-column-center;
    min-height: 210px;
  }
  .counter {

  }
  .actions {

  }
}
