@import "./src/assets/sass/canya-time-tracker";

.global-time {
  > nav {
    @include make-container;
    padding-top: get-spacer(2);
    padding-bottom: get-spacer(2);
    text-align: right;
  }

  .counter, .actions {
    @include flex-column-center;
    min-height: 210px;
  }
  .counter {

  }
  .actions {
    .timer-trigger {
      font-size: $h1-font-size;
      &:hover {
        cursor: pointer;
      }
    }
    .play {
      color: $green;
      &:hover {
        color: darken($green, 7%);
      }
    }
    .stop {
      color: $danger;
      &:hover {
        color: darken($danger, 7%);
      }
    }
  }
}
