<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <a class="topbar-brand" href="/">
        <img class="logo-default" src="assets/img/CanTrack.svg" width="auto" height="36px" alt="logo">
      </a>
      <app-timeline-switch class="d-print-none"></app-timeline-switch>
    </div>

    <div class="topbar-right d-print-none">
      <button *ngIf="isInPreviewMode" (click)="ethereumService.onBeforePublish()" class="btn btn-sm btn-primary">
        Publish to Ethereum
      </button>
      <button *ngIf="isInPreviewMode" class="btn btn-sm btn-outline btn-primary" (click)="onPrint()">
        PRINT
      </button>
      <button *ngIf="!isInPreviewMode" class="btn btn-sm btn-outline btn-primary" (click)="onPreview()">
        Preview &amp; Publish
      </button>
      <button *ngIf="isInPreviewMode" class="btn btn-sm btn-outline btn-primary" (click)="onExitPreview()">
        Exit preview mode
      </button>

    </div>

  </div>
</nav>
<!-- END Topbar -->
