@import "./src/assets/sass/canya-time-tracker";

.timer-trigger {
  font-size: $h1-font-size;
  &:hover {
    cursor: pointer;
  }
  &.play {
    color: $blue;
    &:hover,
    &.active {
      color: darken($blue, 7%);
    }
  }
  &.stop {
    color: $danger;
    &:hover,
    &.active {
      color: darken($danger, 7%);
    }
  }
  &.small {
    font-size: $font-size-base;
    color: $body-color;
  }
}
