<div class="idle-task-modal" *ngIf="hasIdleTask">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="idle-task-wrapper">
          <h4>The task:</h4>
          <h5 style="border-left: 7px solid;" [style.borderColor]="task.color">&nbsp;&nbsp;{{ task.description }}</h5>
          <p>Has been idle for {{ [task.idleFrom, now] | datesDifference }}.</p>
          <p>Would you like to add this time to this task?</p>
          <nav>
            <button class="btn btn-outline btn-primary" (click)="idleTaskService.addTimeToTask()">Add</button>
            <button class="btn btn-outline btn-danger" (click)="idleTaskService.removeTimeFromTask()">No</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
