@import "./src/assets/sass/canya-time-tracker";

.task {
  border-top: 7px solid;
  position: relative;
  .card-body {
    padding: 0;
  }
  .description {}
  .time {
    font-size: $h5-font-size;
    font-weight: 600;
    &.time-sm {
      padding-bottom: get-spacer(1);
      padding-top: get-spacer(1);
    }
  }
  .timer-trigger-wrapper {
    text-align: center;
    .play {}
    .stop {}
  }
  .form-control {
    &::placeholder {
      color: $gray-300;
    }
    font-size: $h5-font-size;
    font-weight: 600;
    border-radius: 0;
    border: none;
    resize: none;
    &:focus {
      box-shadow: inherit;
      border: none;
    }
  }
  .remove-task {
    position: absolute;
    text-align: right;
    font-size: 18px;
    display: none;
    width: 100%;
    color: $red;
    right: -21px;
    top: -21px;
  }
  &:hover {
    .remove-task {
      cursor: pointer;
      display: block;
    }
  }
}

.task-row {
  .actions {
    width: 56px;
  }
  .time {
    width: 140px;
  }
}
