<article class="card task mb-3 {{ onPreviewMode(id) }}" [style.borderTopColor]="taskColor">
  <span class="remove-task" (click)="remove()"><i class="fa fa-times-circle"></i></span>
  <div class="card-body">
    <div class="description">
      <textarea
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (keyup)="onKeyUp($event)"
        [(ngModel)]="description"
        #taskDescription
        rows="1"
        class="form-control"
        placeholder="My task..."></textarea>
    </div>
    <div class="timer-trigger-wrapper">
      <app-timer-trigger *ngIf="localTimer" [timer]="localTimer" [color]="taskColor"></app-timer-trigger>
    </div>
    <div class="preview-mode-wrapper" *ngIf="previewModeIsOn && localTimer.counter.ranges.length > 0">
      <h6><strong>Total: {{ localTimer.counter.ranges | datesDifference:'sum' }}</strong></h6>
      <ul>
        <li *ngFor="let range of localTimer.counter.ranges">
          <span><strong>{{ [range.from, range.to] | datesDifference }}</strong>, </span>
          <span><strong>from: </strong>{{ range.from | date:'medium' }}, </span>
          <span><strong>to: </strong> {{ range.to | date:'medium' }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-muted time text-center">
    <span>{{ localTimer.counter.days }}:{{ localTimer.counter.hours }}:{{ localTimer.counter.minutes }}:{{ localTimer.counter.seconds }}</span>
  </div>
</article>


