<article class="task">
  <div class="task-row">
    <div class="actions">
      <app-timer-trigger size="small" *ngIf="localTimer" [timer]="localTimer"></app-timer-trigger>
    </div>
    <div class="time">
      <span>{{ localTimer.counter.days }}:{{ localTimer.counter.hours }}:{{ localTimer.counter.minutes }}:{{ localTimer.counter.seconds }}</span>
    </div>
    <div class="description">
      <textarea
        (keyup.enter)="onEnter($event)"
        (keydown.tab)="onTab($event)"
        [(ngModel)]="description"
        rows="1"
        class="form-control"
        placeholder="Start typing your first task. Press tab to add a sub-task or enter to add a new task."></textarea>
    </div>
    <div class="add-remove">
      <div>
        <span class="add" (click)="add()"><i class="fa fa-plus-circle"></i></span>
        <span class="remove" *ngIf="id != 0" (click)="remove()"><i class="fa fa-minus-circle"></i></span>
      </div>
    </div>
  </div>

  <template #subTask></template>
</article>
