@import "./src/assets/sass/canya-time-tracker";

@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/card";

@import "./src/assets/sass/fontawesome/fontawesome";
@import "./src/assets/sass/fontawesome/fa-brands";
@import "./src/assets/sass/fontawesome/fa-solid";

@import "./src/assets/sass/theme/utility/spacing";
@import "./src/assets/sass/theme/content/typography";
@import "./src/assets/sass/theme/layout/scafolding";
@import "./src/assets/sass/theme/layout/footer";
@import "./src/assets/sass/theme/layout/section";
@import "./src/assets/sass/theme/uikit/button";
@import "./src/assets/sass/theme/uikit/social";
@import "./src/assets/sass/theme/uikit/counter";
@import "./src/assets/sass/theme/uikit/scroll";
// @import "./src/assets/sass/theme/uikit/nav";
// @import "./src/assets/sass/theme/form/input";
// @import "./src/assets/sass/theme/form/control";

.site-wrapper {
  background-color: $gray-100;
  min-height: 100vh;
  padding-top: 112px;
}

.time-tracker-wrapper {
  border-radius: $border-radius-lg;
  margin-bottom: get-spacer(4);
  background-color: white;
}

.task-row {
  @include normalize-text;
}

.task-row {
  @include flex-row;
  border-bottom: 1px solid $gray-100;
  > div {
    border-right: 1px solid $gray-100;
    border-left: 1px solid $gray-100;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  .actions,
  .time,
  .description {
  }
  .actions,
  .time,
  .add-remove {
    @include flex-column-center;
    text-align: center;
  }
  .add-remove {
    min-width: 56px;
    span {
      &.add {
        &:hover {
          color: $green;
        }
      }
      &.remove {
        &:hover {
          color: $red;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .actions {
  }
  .time {
  }
  .description {
    flex-grow: 1;
    padding: 0;
  }
  .timer-trigger {
    &:hover {
      cursor: pointer;
    }
    &.play {
      &:hover,
      &.active {
        color: $success;
      }
    }
  }
  .form-control {
    &::placeholder {
      color: $gray-300;
    }
    border-radius: 0;
    border: none;
    &:focus,
    &:blur {
      border: none;
    }
  }
}

.task {
  .timer-trigger-wrapper {
    text-align: center;
    .timer-trigger {
      font-size: $h1-font-size;
    }
    .play {}
    .stop {}
  }
}

[id*="task-"] {
  &.on-focus {
    .task,
    .form-control {
      background-color: $gray-100;
    }
  }
}

.project-name {
  background-color: transparent;
  margin-bottom: get-spacer(3);
  font-size: $h1-font-size;
  font-weight: 600;
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  &:focus {
    background-color: $gray-200;
    border-radius: 0;
    border: none;
  }
}
