@import "./src/assets/sass/canya-time-tracker";

.task-list-wrapper {
  @include make-container;
  padding-bottom: get-spacer(3);
}

.task-list {}

.new-task {
  &:hover {
    @include box-shadow-default;
    cursor: pointer;
  }
  .card-body {
    @include flex-column-center;
    text-align: center;
    min-height: 173px;
  }
  .add-card-icon,
  .add-card-text {
    display: block;
  }
  .add-card-icon {
    font-size: $h1-font-size;
  }
  .add-card-text {}
}







