<app-header class="d-print-none"></app-header>

<main class="site-wrapper pb-3" role="main">
  <div class="container">
    <section class="time-tracker-wrapper">

      <app-timer></app-timer>


    </section>

    <app-task-list></app-task-list>
  </div>
</main>

<section class="section shadow-1 d-print-none" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
  <div class="container text-center">
    <img src="assets/img/logo-light.svg" alt="CanYa - telegram" width="auto" height="60px">
    <h4 class="text-white pt-25">The World’s Best Blockchain-Powered Marketplace of Services.</h4>
    <br>
    <a href="https://canya.com" target="_blank" class="btn btn-lg btn-primary shadow-3">Join Now</a>
  </div>
</section>

<app-footer></app-footer>
