<router-outlet></router-outlet>

<app-idle-task-modal></app-idle-task-modal>
<app-publish-time-data-modal></app-publish-time-data-modal>

<app-header></app-header>

<main class="site-wrapper pb-3" role="main">
  <div class="container">
    <section class="time-tracker-wrapper">

      <app-timer></app-timer>

    </section>

    <h5 class="d-none d-print-block tasks-title mb-3">In the following tasks:</h5>

    <app-task-list></app-task-list>

    <div class="file-signature d-print-block d-none">
      <p>The data contained in this file has been stored in the Ethereum blockchain.<br>https://etherscan.io/tx/0x0...</p>
    </div>
  </div>
</main>

<app-footer></app-footer>
