<app-header></app-header>

<main class="site-wrapper pb-3" role="main">
  <div class="container">
    <section class="time-tracker-wrapper">

      <app-timer></app-timer>

    </section>

    <h5 class="d-none d-print-block tasks-title mb-3">In the following tasks:</h5>

    <app-task-list></app-task-list>

    <div class="file-signature d-print-block d-none">
      <p>The data contained in this file has been stored in the Ethereum blockchain.<br>https://etherscan.io/tx/0x0...</p>
    </div>
  </div>
</main>

<section id="canya-cta" class="section shadow-1 d-print-none" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
  <div class="container text-center">
    <img src="assets/img/logo-light.svg" alt="CanYa - telegram" width="auto" height="60px">
    <h4 class="text-white pt-25">The World’s Best Blockchain-Powered Marketplace of Services.</h4>
    <br>
    <a href="https://canya.com" target="_blank" class="btn btn-lg btn-primary shadow-3">Join Now</a>
  </div>
</section>

<app-footer></app-footer>
