@import "./src/assets/sass/canya-time-tracker";

.date-wrapper {
  margin-left: $navbar-padding-x;
  border-radius: $border-radius;
  background-color: $gray-100;
  .date {
    text-transform: uppercase;
    font-size: $h6-font-size;
    padding: 0 get-spacer(2);
    font-weight: 400;
  }
  .prev {
    padding-left: get-spacer(2);
  }
  .next {
    padding-right: get-spacer(2);
  }
  .prev,
  .next {
    font-size: $h6-font-size;
    color: $gray-400;
    &:hover {
      color: $gray-800;
      cursor: pointer;
    }
  }
}
