@import "./src/assets/sass/canya-time-tracker";

.sub-task {
  border-bottom: 1px solid $gray-100;
}

.task-row {
  border-left: 7px solid $gray-200;
  .actions {
    width: 49px;
  }
  .time {
    width: 140px;
  }
}
