<header class="global-time">
  <div class="timeline-wrapper">
    <div class="counter d-print-block d-none">
      <h5 class="text-center title">Address: <span class="d-inline-block text-truncate" style="max-width: 210px; margin-bottom: -9px;">{{ ethereumService.ETHAddress }}</span> has worked a total of</h5>
      <div class="countdown countdown-sm" data-countdown="2018/08/19">
        <div class="row">
          <div class="col"><h5>{{ globalTimer.counter.days }}</h5><small>Days</small></div>
          <div class="col"><h5>{{ globalTimer.counter.hours }}</h5><small>Hours</small></div>
          <div class="col"><h5>{{ globalTimer.counter.minutes }}</h5><small>Minutes</small></div>
          <div class="col"><h5>{{ globalTimer.counter.seconds }}</h5><small>Seconds</small></div>
        </div>
      </div>
    </div>
    <ul class="timeline d-print-none">
      <li *ngFor="let h of globalTimer.today; let $i = index"
        [attr.width]="h.width"
        [style.display]="h.display ? 'block' : 'none'">
        <span>{{ h.hour }}</span>
        <div class="ranges">
          <span *ngFor="let range of h.ranges"
            [style.width]="range.width"
            [style.backgroundColor]="range.color"
            [attr.data-task-id]="range.taskId"
            [attr.data-diff]="range.diff"
            class="range"></span>
        </div>
      </li>
    </ul>
  </div>
</header>
