<header class="global-time">
  <div class="date-wrapper">
    <span class="prev"><i class="fa fa-chevron-left"></i></span>
    <span class="date">Today</span>
    <span class="next"><i class="fa fa-chevron-right"></i></span>
  </div>
  <div class="timeline-wrapper">
    <ul class="timeline">
      <li *ngFor="let h of globalTimer.today; let $i = index" [attr.width]="h.width">
        <span *ngIf="h.display">{{ h.hour }}</span>
        <div class="ranges">
          <span *ngFor="let range of h.ranges"
            [style.width]="range.width"
            [style.backgroundColor]="range.color"
            [attr.data-task-id]="range.taskId"
            [attr.data-diff]="range.diff"
            class="range"></span>
        </div>
      </li>
    </ul>
  </div>
</header>
