<div class="modal" *ngIf="isPublishing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="modal-body"
          *ngIf="!hasError && !isTxnComplete && !isProviderOpen && !hasConfirmedTxn">
          <h4>Congratulations!</h4>
          <h5>You are about to publish your logged time to the Ethereum blockchain.</h5>
          <p>After clicking the <em>publish</em> button, a MetaMask window will open asking you to submit the transaction; you must have at least 0.1 ETH to achieve this.</p>
          <p>After the transaction has been successfully completed, we will provide you with an immutable code in order to retrieve your logged time stored in this contract:<br><a href="https://etherscan.io/address/{{ ethereumService.contractAddress }}">CanTrack contract {{ ethereumService.contractAddress }}</a> </p>
          <nav>
            <button class="btn btn-primary" (click)="ethereumService.onPublish()">publish</button>
            <button class="btn btn-outline btn-danger" (click)="close()">Cancel</button>
          </nav>
        </div>
        <div class="modal-body"
          *ngIf="!hasError && isProviderOpen">
          <h4>Waiting for confirmation...</h4>
        </div>
        <div class="modal-body"
          *ngIf="hasError && !isProviderOpen">
          <h4>There was an error</h4>
          <h5>This could be either that you</h5>
          <p>Rejected the transaction</p>
          <p>Disconnected from MetaMask</p>
          <p>Have insufficient ETH funds</p>
          <p>Ran out of GAS</p>
          <nav>
            <button class="btn btn-outline btn-danger" (click)="close()">Close</button>
          </nav>
        </div>
        <div class="modal-body"
          *ngIf="!hasError && !isProviderOpen && isTxnComplete && hasConfirmedTxn">
          <h4>Transaction complete</h4>
          <p>CanTrack link: <a href="{{ ethereumService.cantrackURL }}/contract/{{ txn.code }}" target="_blank">{{ ethereumService.cantrackURL }}/contract/{{ txn.code }}</a></p>
          <p>TXN hash: <a href="{{ ethereumService.networkURL }}/tx/{{ txn.hash }}" target="_blank" class="d-inline-block text-truncate" style="max-width: 210px; margin-bottom: -9px;">{{ txn.hash }}</a></p>
          <nav>
            <button class="btn btn-outline btn-danger" (click)="close()">Close</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
